@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: rgba(0, 0, 0, 0.42);
  --bgSoft: rgba(0, 0, 0, 0.42);
  --text: white;
  --textSoft: #e1dfdf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}
